
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468289131'); /* IE9*/
  src: url('iconfont.eot?t=1468289131#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468289131') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468289131') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468289131#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-liebiao:before { content: "\e60a"; }
.icon-sousuo:before { content: "\e60f"; }
.icon-shanchu:before { content: "\e605"; }
.icon-bianji:before { content: "\e604"; }
.icon-ordinaryprint:before { content: "\e620"; }
.icon-gerenzhongxin:before { content: "\e600"; }
.icon-jichuxinxi:before { content: "\e60c"; }
.icon-yunxingzhong:before { content: "\e61d"; }
.icon-shoushufenlei:before { content: "\e608"; }
.icon-xiaoxi:before { content: "\e601"; }
.icon-guizeguanli:before { content: "\e60b"; }
.icon-tishi:before { content: "\e611"; }
.icon-xiangqing:before { content: "\e606"; }
.icon-jiantou:before { content: "\e61c"; }
.icon-arrows:before { content: "\e60e"; }
.icon-zhinengdianyaliguo:before { content: "\e61e"; }
.icon-gouxuan:before { content: "\e612"; }
.icon-shanchu1:before { content: "\e603"; }
.icon-iconlishijilu:before { content: "\e60d"; }
.icon-piliangshuchuxiaobanweizhitu:before { content: "\e614"; }
.icon-guanli:before { content: "\e602"; }
.icon-guanli1:before { content: "\e607"; }
.icon-qiyehechabidui:before { content: "\e621"; }
.icon-icon7:before { content: "\e616"; }
.icon-moban:before { content: "\e609"; }
.icon-shanchu2:before { content: "\e610"; }
.icon-qixiebao:before { content: "\e613"; }
.icon-word-copy:before { content: "\e615"; }
.icon-shenhe:before { content: "\e61f"; }
.icon-lingqu:before { content: "\e617"; }
.icon-miejun:before { content: "\e618"; }
.icon-peibao:before { content: "\e619"; }
.icon-jieshou:before { content: "\e61a"; }
.icon-dabao:before { content: "\e61b"; }
